In [81]:
import pandas as pd
import numpy as np

#### Extract the 2018 Released Movies From Wikipidia

In [82]:
import pandas as pd
import requests

years = range(2018, 2026)

headers = {
    "User-Agent": "Mozilla/5.0"
}

all_movies = []

for year in years:
    url = f"https://en.wikipedia.org/wiki/List_of_American_films_of_{year}"
    
    try:
        response = requests.get(url, headers=headers)
        tables = pd.read_html(response.text, header=0)
        
        # Wikipedia movie pages usually store movie tables from index 2 onward
        movie_tables = tables[2:]
        
        df_year = pd.concat(movie_tables, ignore_index=True)
        df_year["year"] = year   # Add year column
        
        all_movies.append(df_year)
        
        print(f"{year} loaded successfully")
        
    except Exception as e:
        print(f"Error loading {year}: {e}")

# Combine all years
movies_df = pd.concat(all_movies, ignore_index=True)

movies_df.head()

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2018 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2019 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2020 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2021 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2022 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2023 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2024 loaded successfully

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\689554861.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text, header=0)

2025 loaded successfully

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,vte2018 films,vte2018 films.1,vte American films of the 2010s,vte American films of the 2010s.1,...,vte2021 films,vte2021 films.1,vte2022 films,vte2022 films.1,vte2023 films,vte2023 films.1,vte2024 films,vte2024 films.1,vte2025 films,vte2025 films.1
0,J A N U A R Y,5.0,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,J A N U A R Y,5.0,The Strange Ones,Vertical Entertainment,Christopher Radcliff (director/screenplay); La...,[3],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,J A N U A R Y,12.0,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[4],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,J A N U A R Y,12.0,Proud Mary,Screen Gems,"Babak Najafi (director); John S. Newman, Chris...",[5],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,J A N U A R Y,12.0,Acts of Violence,Lionsgate Premiere,Brett Donowho (director); Nicolas Aaron Mezzan...,[6],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2824 entries, 0 to 2823
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Opening                            2807 non-null   object
 1   Opening.1                          2801 non-null   object
 2   Title                              2801 non-null   object
 3   Production company                 1941 non-null   object
 4   Cast and crew                      2801 non-null   object
 5   Ref.                               2666 non-null   object
 6   vte2018 films                      1 non-null      object
 7   vte2018 films.1                    1 non-null      object
 8   vte American films of the 2010s    2 non-null      object
 9   vte American films of the 2010s.1  2 non-null      object
 10  year                               2824 non-null   int64
 11  vte2019 films                      1 non-null      object
 12  vte2019 films.1                    1 non-null      object
 13  vte2020 films                      1 non-null      object
 14  vte2020 films.1                    1 non-null      object
 15  vte American films of the 2020s    6 non-null      object
 16  vte American films of the 2020s.1  6 non-null      object
 17  Company credits                    860 non-null    object
 18  vte2021 films                      1 non-null      object
 19  vte2021 films.1                    1 non-null      object
 20  vte2022 films                      2 non-null      object
 21  vte2022 films.1                    2 non-null      object
 22  vte2023 films                      1 non-null      object
 23  vte2023 films.1                    1 non-null      object
 24  vte2024 films                      1 non-null      object
 25  vte2024 films.1                    1 non-null      object
 26  vte2025 films                      1 non-null      object
 27  vte2025 films.1                    1 non-null      object
dtypes: int64(1), object(27)
memory usage: 617.9+ KB

In [84]:
movies_df.isnull().sum()

Opening                                17
Opening.1                              23
Title                                  23
Production company                    883
Cast and crew                          23
Ref.                                  158
vte2018 films                        2823
vte2018 films.1                      2823
vte American films of the 2010s      2822
vte American films of the 2010s.1    2822
year                                    0
vte2019 films                        2823
vte2019 films.1                      2823
vte2020 films                        2823
vte2020 films.1                      2823
vte American films of the 2020s      2818
vte American films of the 2020s.1    2818
Company credits                      1964
vte2021 films                        2823
vte2021 films.1                      2823
vte2022 films                        2822
vte2022 films.1                      2822
vte2023 films                        2823
vte2023 films.1                      2823
vte2024 films                        2823
vte2024 films.1                      2823
vte2025 films                        2823
vte2025 films.1                      2823
dtype: int64

In [85]:
new_df = movies_df[["Title", "Cast and crew"]]

In [86]:
new_df.head()

                     Title                                      Cast and crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Christopher Radcliff (director/screenplay); La...
2             The Commuter  Jaume Collet-Serra (director); Byron Willinger...
3               Proud Mary  Babak Najafi (director); John S. Newman, Chris...
4         Acts of Violence  Brett Donowho (director); Nicolas Aaron Mezzan...

In [87]:
from tmdbv3api import TMDb
from dotenv import load_dotenv
import json
import requests
import os

load_dotenv()

api_key = os.getenv("TMDB_API_KEY")
tmdb = TMDb()
tmdb.api_key = api_key

In [88]:
from tmdbv3api import Movie

tmdb_movie = Movie()

def get_genres(title):
    try:
        result = tmdb_movie.search(title)

        if len(result) == 0:
            return np.NaN

        movie_id = result[0].id
        movie_details = tmdb_movie.details(movie_id)

        if movie_details.genres:
            genres = [g['name'] for g in movie_details.genres]
            return " ".join(genres)

        return np.NaN

    except:
        return np.NaN

In [89]:
new_df['genres'] = new_df['Title'].astype(str).map(get_genres)

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\2088803296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['genres'] = new_df['Title'].astype(str).map(get_genres)

In [90]:
new_df["genres"].isnull().sum()

1184

In [91]:
new_df["genres"].value_counts()

genres
Drama                                  141
Comedy Drama                            63
Comedy                                  56
Horror Thriller                         52
Comedy Romance                          35
                                      ...
Action Crime Science Fiction             1
Action Crime Drama                       1
Adventure Comedy Family Fantasy          1
Horror Thriller War Science Fiction      1
Comedy Drama Fantasy                     1
Name: count, Length: 585, dtype: int64

In [92]:
new_df["genres"].unique()

array(['Horror Thriller', 'Drama Mystery', 'Action Thriller Mystery',
       'Thriller Action Crime', 'Action Crime Thriller', 'Comedy Drama',
       'Comedy', 'War Drama Action History', 'Crime Thriller Action',
       'Romance Drama', 'Drama Thriller',
       'Science Fiction Action Adventure Thriller', 'Drama',
       'Action Thriller', 'Horror Thriller Science Fiction',
       'Comedy Thriller', 'Animation Adventure Family', 'Drama Romance',
       'Science Fiction Drama', 'Action Adventure Science Fiction',
       'Thriller Mystery', 'Drama Crime', 'Action Drama Adventure',
       'Mystery Comedy Crime', 'Science Fiction Horror',
       'Romance Fantasy', 'Horror Drama Science Fiction',
       'Action Crime Thriller Drama', 'Drama Mystery Romance',
       'Thriller Action Crime Drama Mystery',
       'Drama Science Fiction Family TV Movie',
       'Action Adventure Crime Thriller', 'Action Adventure Fantasy',
       'Comedy Drama Romance', 'Music Drama', 'Family Drama',
       'Thriller Drama', 'Action Fantasy Science Fiction Adventure',
       'Adventure Comedy Animation',
       'Animation Family Fantasy Comedy Adventure Mystery',
       'History Drama', nan, 'Adventure Action Science Fiction',
       'Science Fiction Drama Action', 'Crime Drama Thriller',
       'History Drama Thriller', 'Drama TV Movie',
       'Action Thriller Drama', 'Thriller Horror', 'Drama Western',
       'Animation Adventure Family History War',
       'Science Fiction Adventure', 'Comedy Romance',
       'Comedy Crime Mystery', 'Thriller Action', 'Drama Comedy',
       'Thriller Drama History', 'Romance Drama Crime', 'Romance Comedy',
       'Thriller Crime Horror Drama', 'Drama Comedy Fantasy Horror',
       'Documentary', 'Drama Romance Comedy', 'Horror TV Movie Thriller',
       'Action Comedy Adventure', 'Adventure Crime Family Comedy',
       'Romance Comedy Drama', 'Drama Science Fiction',
       'Science Fiction Adventure Action',
       'Comedy Music Romance Science Fiction', 'Science Fiction',
       'Mystery TV Movie', 'Action Thriller Science Fiction',
       'Drama Crime Documentary', 'Crime Comedy Action',
       'Horror Mystery Thriller', 'Science Fiction Action Crime Thriller',
       'Action Crime', 'Action Adventure Animation Family',
       'Comedy Action', 'Crime Drama TV Movie',
       'Action Adventure Science Fiction Thriller',
       'Fantasy Action Adventure', 'Drama History Western',
       'Horror TV Movie', 'Action Horror Thriller',
       'Fantasy Science Fiction Comedy', 'Romance Drama Music',
       'Animation Comedy Family Fantasy', 'Action Adventure Thriller',
       'Action Thriller Crime', 'Comedy Crime Drama', 'Horror Mystery',
       'Action Adventure', 'Animation Action Comedy Science Fiction',
       'Thriller Adventure', 'Adventure Comedy Family Fantasy',
       'Action Adventure Drama', 'Comedy Action Adventure',
       'Action Science Fiction Horror', 'Crime Comedy Drama History',
       'Drama Action Crime', 'Science Fiction Thriller Horror Mystery',
       'Horror Drama Science Fiction Thriller', 'Thriller TV Movie',
       'Horror Mystery Thriller Fantasy Drama', 'Action Crime Comedy',
       'Drama Mystery Thriller', 'Adventure Crime Drama',
       'Science Fiction Action Adventure Family',
       'Drama History Thriller', 'Romance TV Movie', 'Horror',
       'Science Fiction Action Thriller', 'Thriller Comedy Mystery',
       'Crime Drama', 'Comedy Fantasy Family Horror Mystery',
       'Western Drama Comedy', 'Thriller Horror Comedy',
       'Drama History Romance', 'Family Comedy Adventure Animation',
       'Science Fiction Action', 'Music Drama Romance',
       'Documentary Comedy', 'Thriller Mystery Crime Drama',
       'Comedy Fantasy Horror Family', 'Drama Crime Comedy History',
       'Action Adventure Comedy', 'Horror Mystery Drama', 'Drama War',
       'Action Drama Thriller', 'Fantasy Adventure Family',
       'Drama Comedy Music', 'Drama History', 'Family Comedy Animation',
       'Drama History War', 'Western Comedy Drama',
       'Science Fiction Action Adventure Comedy', 'Fantasy Adventure',
       'Crime Thriller Drama', 'Drama Comedy History',
       'Family Animation Comedy Adventure', 'Drama Action',
       'Adventure Animation Family', 'Comedy Adventure Family Fantasy',
       'History Comedy Drama', 'Adventure Drama', 'Horror Drama',
       'Animation Action Adventure Science Fiction',
       'Adventure Science Fiction', 'Crime Comedy Thriller',
       'Fantasy Family Comedy', 'Drama Mystery Thriller Crime',
       'Thriller Science Fiction Action Adventure', 'Adventure Drama War',
       'Horror Thriller Mystery', 'Thriller Drama Action Crime',
       'Thriller', 'Drama Adventure Family',
       'Science Fiction Thriller Drama', 'Drama Horror Thriller',
       'Thriller Drama Science Fiction',
       'Action Adventure Fantasy Family', 'Science Fiction Thriller',
       'Drama Mystery Science Fiction Thriller', 'Action',
       'Thriller Mystery Horror',
       'Action Adventure Animation Comedy Family', 'Crime Action',
       'Comedy Fantasy Romance', 'Comedy Horror Science Fiction',
       'Action Science Fiction Adventure', 'Animation Family Adventure',
       'Mystery Thriller Drama', 'Action Thriller Crime Adventure',
       'Comedy Animation Adventure Family Fantasy',
       'Crime Family Mystery', 'War Drama Romance',
       'Thriller Science Fiction Horror', 'Western',
       'Thriller History Drama Action', 'Drama Music Comedy',
       'Crime Action Thriller', 'Animation Family',
       'Action Comedy Fantasy', 'Comedy War', 'Comedy Crime',
       'Fantasy Drama Comedy', 'Fantasy Horror Action Adventure',
       'Animation Science Fiction Action', 'Drama Music',
       'Documentary Family', 'Crime Drama Mystery',
       'Thriller Science Fiction', 'Adventure Science Fiction Action',
       'Animation Music Family Comedy', 'History Drama Mystery Thriller',
       'Family Adventure Drama',
       'Animation Family Adventure Fantasy Romance',
       'Horror Science Fiction', 'Horror Thriller Drama', 'Western Drama',
       'Science Fiction Action Adventure',
       'Comedy Science Fiction Action Adventure',
       'Horror Thriller TV Movie', 'Action Comedy Mystery',
       'Family Comedy Animation Adventure',
       'Comedy Fantasy Music Romance', 'Action Thriller Crime Mystery',
       'Horror Drama Mystery', 'Action Comedy', 'Action Drama Crime',
       'Family Animation Drama Adventure', 'Comedy Drama Thriller',
       'Drama Crime Romance',
       'Action Crime Drama Science Fiction Thriller',
       'Drama Thriller History', 'Action Crime Drama Thriller',
       'Family Comedy Adventure',
       'Science Fiction Thriller Drama Adventure Comedy',
       'Horror Adventure Mystery', 'Adventure Comedy Drama',
       'Animation Adventure Comedy Family',
       'Drama Mystery Horror History', 'Horror Comedy',
       'Thriller Crime Action', 'Thriller History Drama',
       'Crime Thriller', 'Family', 'Drama Comedy Crime',
       'Drama Thriller Crime War', 'Drama Romance History',
       'Family Animation Adventure Comedy Fantasy', 'Crime Drama Comedy',
       'Drama History Music', 'Thriller Action Science Fiction',
       'Crime Action Thriller Mystery', 'Drama Thriller Romance',
       'Horror Drama Thriller', 'Fantasy Romance',
       'Documentary Horror Comedy', 'Crime Drama Horror',
       'Comedy Fantasy', 'Family Fantasy Adventure', 'Comedy War Drama',
       'Drama Fantasy Thriller', 'War Action Drama',
       'Crime Drama History', 'Animation Adventure Comedy',
       'Horror Fantasy', 'Action War History',
       'Animation Family Adventure Comedy Fantasy',
       'Family Animation Romance Adventure Comedy',
       'Family Comedy Fantasy', 'Drama Action History', 'Crime',
       'History Family Drama', 'Crime Action Drama',
       'Crime Drama Romance', 'Adventure Drama Romance',
       'Adventure Comedy Fantasy', 'Action Comedy Thriller',
       'Drama Thriller Crime', 'History Drama War', 'Music Fantasy',
       'Adventure Family', 'Animation Action Adventure Comedy Family',
       'Romance Drama Family', 'War History Drama Action',
       'Drama Crime History', 'Horror Science Fiction Action Adventure',
       'Thriller Drama Crime', 'Horror Fantasy Action',
       'Family Comedy Fantasy Adventure', 'Drama Thriller Mystery',
       'Drama Action War', 'Fantasy Family',
       'Family Mystery Comedy Fantasy',
       'Action Science Fiction Comedy Family',
       'Adventure Fantasy Horror Mystery', 'Adventure Family Drama',
       'Comedy Drama Romance TV Movie', 'Thriller Crime Drama',
       'Fantasy Drama', 'Action Comedy Crime Thriller',
       'Family Comedy Adventure Animation Fantasy',
       'Drama Adventure History', 'Comedy Action Thriller',
       'Mystery Thriller Crime', 'Drama Thriller Horror',
       'Action Thriller Horror', 'Drama Mystery Thriller History',
       'Comedy Drama Romance Family', 'War History Drama',
       'Science Fiction Thriller Mystery Horror', 'Comedy Action Crime',
       'Family Animation Comedy Fantasy Adventure Music', 'Family Comedy',
       'Comedy Romance Drama', 'Crime Thriller Action Mystery',
       'Comedy Romance Music', 'Animation Comedy Family Mystery',
       'Thriller Crime Drama Action', 'Drama Fantasy Romance',
       'Romance Comedy Music Drama', 'Thriller Horror Action',
       'Family Comedy Drama', 'War Drama',
       'Adventure Fantasy Science Fiction Family', 'Comedy Music Drama',
       'Comedy Music', 'Family Action Comedy',
       'Animation Adventure Family Comedy TV Movie', 'Action Fantasy',
       'Comedy Romance Science Fiction',
       'Horror Thriller War Science Fiction', 'Music',
       'Action Crime Drama', 'Action Crime Science Fiction',
       'Family Fantasy Comedy', 'Comedy Crime Horror Thriller',
       'Comedy Science Fiction Adventure Music',
       'Science Fiction Horror Action', 'Mystery Thriller Horror',
       'Family Animation Science Fiction Comedy', 'Comedy Horror',
       'Romance Drama Comedy', 'Adventure Mystery Crime',
       'Action Adventure Comedy Fantasy', 'Drama Comedy Romance',
       'Comedy Mystery Horror', 'Comedy Family',
       'Family Fantasy Adventure Comedy',
       'Comedy Adventure Science Fiction', 'Drama Comedy Thriller',
       'Comedy Drama Mystery', 'Action Horror', 'Fantasy Family Horror',
       'Animation Adventure Family Fantasy',
       'Horror Science Fiction Thriller', 'Horror Drama Fantasy',
       'Drama Horror', 'Thriller Horror Fantasy',
       'Fantasy Horror Thriller', 'Thriller Crime Western',
       'Family Fantasy Music', 'Action Fantasy Comedy',
       'Action Comedy Drama', 'Family Romance Comedy TV Movie',
       'Thriller Horror Drama', 'Music Documentary',
       'Animation Family Adventure Fantasy Comedy',
       'Comedy Science Fiction Romance', 'Animation Drama Family',
       'Thriller Crime Mystery', 'Family Drama History',
       'Action Thriller Crime Science Fiction',
       'Action Fantasy Adventure',
       'Action Adventure Thriller Science Fiction',
       'Animation Adventure Fantasy Action',
       'Science Fiction Action Horror',
       'Animation Family Comedy Fantasy Drama Music',
       'Family Action Fantasy Comedy', 'Drama Western Adventure',
       'Horror Action War', 'Comedy Crime Romance', 'Action History War',
       'Action Drama', 'Drama Crime Thriller',
       'Adventure Action Comedy Family', 'Comedy Drama Crime',
       'Romance Drama Western', 'Crime Thriller Drama Comedy',
       'Family Adventure Comedy Fantasy', 'Comedy Family Animation',
       'Music Drama History', 'Documentary Music', 'Comedy Drama Music',
       'Animation Family Fantasy Action Adventure',
       'Fantasy Science Fiction Adventure',
       'Action Science Fiction Thriller',
       'Action Thriller Adventure Crime',
       'Comedy Romance Science Fiction Thriller', 'Comedy TV Movie',
       'Comedy Action Science Fiction', 'Animation Comedy Family',
       'Action Mystery Thriller', 'Action Thriller War', 'Adventure',
       'Thriller Drama TV Movie', 'Crime Action Horror',
       'Crime Mystery Thriller', 'Horror Action', 'Horror Action Comedy',
       'Science Fiction Thriller Horror', 'Comedy Crime Adventure',
       'Animation Adventure Family Western', 'Fantasy Romance Thriller',
       'Drama Science Fiction Thriller',
       'Animation Family Comedy Fantasy Romance Adventure',
       'History Drama Action',
       'Animation Comedy Fantasy Adventure Family', 'Documentary Crime',
       'Action Adventure Crime', 'Animation Action Comedy',
       'Animation Comedy Adventure Family', 'Music Documentary History',
       'Family Comedy Adventure Animation Science Fiction',
       'Mystery Horror', 'Action Comedy Romance',
       'Science Fiction Thriller Mystery Action Adventure',
       'Animation Fantasy Family Action Adventure',
       'Crime Mystery Thriller Action',
       'Fantasy Adventure Family Action Comedy',
       'Adventure Drama Fantasy', 'Drama Fantasy',
       'Animation Family Comedy', 'Drama Music History',
       'Drama Music Romance', 'Mystery Science Fiction',
       'Animation Family Comedy Adventure Fantasy',
       'Animation Fantasy Drama', 'Animation Action Fantasy',
       'Crime Drama Thriller History',
       'Mystery Thriller Horror Drama Crime', 'Fantasy Comedy Drama',
       'Romance Fantasy Family Drama', 'Western Action',
       'Fantasy Horror Family', 'Drama Mystery TV Movie',
       'Action Fantasy Horror Thriller', 'Music Comedy Thriller',
       'Animation Family Fantasy Comedy Adventure',
       'Animation Family Comedy Fantasy Adventure',
       'Western Action Drama', 'Horror Fantasy Thriller',
       'Action Thriller Adventure', 'Drama Romance Science Fiction',
       'Romance Music Drama Thriller', 'Horror Thriller Action',
       'Animation Science Fiction Family Comedy', 'Drama History Comedy',
       'Mystery Science Fiction Thriller', 'Drama Horror Mystery',
       'Animation Fantasy Action Horror', 'Action Comedy Crime',
       'Science Fiction Drama Adventure',
       'Fantasy Comedy Adventure Science Fiction',
       'Animation Comedy Family Adventure', 'War Thriller',
       'Comedy Science Fiction Horror', 'Action Horror Science Fiction',
       'Animation Comedy TV Movie', 'Family Animation Adventure Comedy',
       'Thriller Crime Drama Western', 'Drama Romance Crime',
       'Comedy Science Fiction Drama', 'Family Comedy Music Animation',
       'Drama Family', 'Animation Comedy Family Adventure Fantasy',
       'Thriller Horror Crime Mystery', 'Action Comedy Documentary',
       'Thriller Mystery Crime', 'Mystery Crime Thriller',
       'Drama Romance Music', 'Romance Science Fiction Drama',
       'Horror Comedy Music', 'War Music Romance',
       'Action Thriller Crime Drama', 'Adventure Science Fiction Comedy',
       'Animation Family Comedy Fantasy', 'Comedy Family Drama',
       'Thriller Adventure Drama Mystery',
       'Drama TV Movie Adventure History Documentary',
       'Action Science Fiction Fantasy',
       'Action Adventure Drama Thriller', 'Music Family Comedy',
       'Action Adventure Family Comedy', 'Thriller Action Crime Drama',
       'Science Fiction Comedy Drama',
       'Family Comedy Crime Adventure Animation Action',
       'Animation Family Fantasy',
       'Science Fiction Action Thriller Adventure', 'Music Comedy Family',
       'Comedy Family Fantasy',
       'Animation Family Comedy Adventure Mystery', 'Mystery Crime',
       'Animation Music Comedy Crime Mystery', 'Western Action Thriller',
       'Animation Fantasy Horror Science Fiction',
       'Animation Science Fiction Family Adventure',
       'Horror Thriller Drama Mystery',
       'Animation Comedy Science Fiction TV Movie',
       'Animation Adventure Action Family Fantasy',
       'Animation Comedy Drama Family', 'Music Romance Science Fiction',
       'TV Movie',
       'Family Comedy Adventure Animation Science Fiction Fantasy',
       'Fantasy Action Comedy', 'Mystery Thriller',
       'Comedy Mystery Thriller', 'Crime Mystery Horror',
       'Comedy Fantasy Action', 'Animation Action Science Fiction Comedy',
       'Animation Adventure Comedy Fantasy', 'Horror Comedy Mystery',
       'Action Adventure Comedy Science Fiction Family',
       'Action Fantasy Horror Comedy Thriller', 'Comedy Fantasy Drama',
       'Mystery Thriller Crime Drama', 'Science Fiction Crime Action',
       'Crime Comedy Drama', 'Action Drama History War',
       'Comedy Thriller Romance', 'Comedy Mystery Crime',
       'Mystery Thriller Western Drama',
       'Science Fiction Mystery Thriller', 'Adventure Comedy',
       'Family Fantasy Animation Comedy', 'Drama Romance Mystery',
       'Fantasy Comedy Family', 'Drama Comedy War',
       'Western Thriller Action', 'Comedy Family Music',
       'Mystery Comedy Drama', 'Science Fiction Mystery Horror Thriller',
       'Adventure Comedy Horror Family', 'Horror Mystery Thriller Crime',
       'Fantasy Comedy Adventure', 'Drama Crime Mystery',
       'Animation Comedy Horror Fantasy', 'Animation Fantasy',
       'Music Comedy', 'Comedy Horror Mystery Science Fiction',
       'Animation Comedy Science Fiction',
       'Animation Fantasy Adventure Drama', 'Romance Comedy Family',
       'Thriller Crime', 'Comedy Horror Thriller', 'Horror Romance Drama',
       'Animation Family Adventure Science Fiction Fantasy',
       'Drama War History', 'Animation Comedy Family Fantasy Adventure',
       'Animation Adventure Fantasy Comedy Family',
       'Thriller Crime Horror Mystery', 'Thriller Drama Romance',
       'Horror Fantasy Science Fiction Thriller',
       'Action Fantasy TV Movie', 'Thriller Comedy Crime',
       'Thriller Horror Mystery', 'Crime Horror Thriller',
       'Horror Crime Thriller', 'History Drama Music',
       'Comedy Action Fantasy',
       'Animation Adventure Family Fantasy Comedy',
       'Comedy Drama History Romance', 'Adventure Fantasy Comedy',
       'Comedy Romance Science Fiction Drama',
       'Animation Drama Fantasy Horror', 'Music Romance Comedy',
       'Adventure Fantasy Family', 'Comedy Fantasy Horror',
       'Comedy Adventure Fantasy', 'Comedy Crime Action',
       'War Action Thriller', 'Science Fiction Thriller Mystery',
       'Family Fantasy Action Adventure', 'Action War',
       'Drama Romance TV Movie', 'Fantasy Action Science Fiction',
       'Drama Crime Mystery Thriller', 'Romance Thriller Drama TV Movie',
       'Animation Comedy Family Science Fiction', 'Fantasy Horror Drama',
       'Animation Family Adventure Comedy',
       'Family Fantasy Comedy Romance Animation', 'Fantasy Family Drama',
       'Adventure Action', 'Animation Family Fantasy Comedy',
       'Animation Family Action Adventure Fantasy Comedy',
       'Thriller Action Mystery Crime', 'Drama Horror Mystery Thriller',
       'Romance Action Comedy', 'Comedy Science Fiction Mystery',
       'Comedy Adventure', 'Comedy Drama Fantasy'], dtype=object)

In [93]:
new_df["genres"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2824 entries, 0 to 2823
Series name: genres
Non-Null Count  Dtype
--------------  -----
1640 non-null   object
dtypes: object(1)
memory usage: 22.2+ KB

In [94]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [95]:
new_df["director_name"] = new_df["Cast and crew"].map(lambda x: get_director(str(x)))

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\1700739288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["director_name"] = new_df["Cast and crew"].map(lambda x: get_director(str(x)))

In [96]:
new_df.head()

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Thriller,Adam Robitel
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho

In [97]:
new_df.head()

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Thriller,Adam Robitel
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho

In [98]:
def extract_movie_people(x):
    result = {
        "actor_1_name": np.nan,
        "actor_2_name": np.nan,
        "actor_3_name": np.nan
    }

    try:
        actors_part = x.split("screenplay); ")[-1]  
        actors_list = [a.strip() for a in actors_part.split(", ")]
        if len(actors_list) >= 1:
            result["actor_1_name"] = actors_list[0]
        if len(actors_list) >= 2:
            result["actor_2_name"] = actors_list[1]
        if len(actors_list) >= 3:
            result["actor_3_name"] = actors_list[2]
    except:
        pass  

    return result

df_all = new_df.copy()
people_df = df_all["Cast and crew"].map(extract_movie_people).apply(pd.Series)

df_all.loc[:, ["actor_1_name", "actor_2_name", "actor_3_name"]] = people_df

In [99]:
df_all.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore

In [100]:
df_all = df_all.rename(columns={"Title": "movie_title"})

In [101]:
new_all_df = df_all[["movie_title", "director_name", "actor_1_name", "actor_2_name", "actor_3_name", "genres"]]

In [102]:
new_all_df["actor_1_name"] = new_all_df["actor_1_name"].replace(np.nan, "unknown")
new_all_df["actor_2_name"] = new_all_df["actor_2_name"].replace(np.nan, "unknown")
new_all_df["actor_3_name"] = new_all_df["actor_3_name"].replace(np.nan, "unknown")

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\557917156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_all_df["actor_1_name"] = new_all_df["actor_1_name"].replace(np.nan, "unknown")
C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\557917156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_all_df["actor_2_name"] = new_all_df["actor_2_name"].replace(np.nan, "unknown")
C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\557917156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_all_df["actor_3_name"] = new_all_df["actor_3_name"].replace(np.nan, "unknown")

In [103]:
new_all_df["movie_title"] = new_all_df["movie_title"].str.lower()

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_11200\195481145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_all_df["movie_title"] = new_all_df["movie_title"].str.lower()

In [104]:
new_all_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres
0,insidious: the last key,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Thriller
1,the strange ones,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Drama Mystery
2,the commuter,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery
3,proud mary,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown,Thriller Action Crime
4,acts of violence,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore,Action Crime Thriller

In [105]:
new_all_df["combined_columns"] = new_all_df["director_name"] + " " + new_all_df["actor_1_name"] + " " + new_all_df["actor_2_name"] + " " + new_all_df["actor_3_name"] + " " + new_all_df["genres"]

In [106]:
new_all_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,combined_columns
0,insidious: the last key,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Thriller,Adam Robitel Lin Shaye Angus Sampson Leigh Wha...
1,the strange ones,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Drama Mystery,Christopher Radcliff (director/screenplay); La...
2,the commuter,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,Jaume Collet-Serra Liam Neeson Vera Farmiga Pa...
3,proud mary,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown,Thriller Action Crime,Babak Najafi Taraji P. Henson Jahi Di'Allo Win...
4,acts of violence,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore,Action Crime Thriller,Brett Donowho Bruce Willis Cole Hauser Shawn A...

In [107]:
old_df = pd.read_csv("../datasets/processed/new_data_processed.csv")

In [108]:
old_df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined_columns
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,James Cameron CCH Pounder Joel David Moore Wes...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Gore Verbinski Johnny Depp Orlando Bloom Jack ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Sam Mendes Christoph Waltz Rory Kinnear Stepha...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Christopher Nolan Tom Hardy Christian Bale Jos...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Doug Walker Rob Walker unknown Doc...

In [109]:
final_df = pd.concat([old_df, new_all_df], ignore_index=True)

In [110]:
final_df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined_columns
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,James Cameron CCH Pounder Joel David Moore Wes...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Gore Verbinski Johnny Depp Orlando Bloom Jack ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Sam Mendes Christoph Waltz Rory Kinnear Stepha...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Christopher Nolan Tom Hardy Christian Bale Jos...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Doug Walker Rob Walker unknown Doc...

In [111]:
final_df.isnull().sum()

director_name          0
actor_1_name           0
actor_2_name           0
actor_3_name           0
genres              1184
movie_title           23
combined_columns    1184
dtype: int64

In [112]:
final_df = final_df.dropna(how="any")

In [113]:
final_df.isnull().sum()

director_name       0
actor_1_name        0
actor_2_name        0
actor_3_name        0
genres              0
movie_title         0
combined_columns    0
dtype: int64

In [114]:
final_df.to_csv("../datasets/processed/final_data_processed.csv", index=False)