In [375]:
import pandas as pd
import numpy as np

In [376]:
df = pd.read_csv("../datasets/raw/credits.csv")

In [377]:
df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend...",11862

In [378]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [379]:
df.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [380]:
df1 = pd.read_csv("../datasets/raw/movies_metadata.csv")

C:\Users\ADEGOKE\AppData\Local\Temp\ipykernel_1636\3844153915.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("../datasets/raw/movies_metadata.csv")

In [381]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915Lf...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthda...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id':...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an enchanted board game that open...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'F...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nL...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud between next-door neighbors...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1074...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their brea...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you for...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': ...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he re...",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of Hi...,Father of the Bride Part II,False,5.7,173.0

In [382]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [383]:
df1.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [384]:
df1["release_date"] = pd.to_datetime(df1["release_date"], errors="coerce")

In [385]:
df1["release_date"].value_counts().sort_index()

release_date
1874-12-09    1
1878-06-14    1
1883-11-19    1
1887-08-18    1
1888-01-01    1
             ..
2018-04-04    1
2018-04-25    1
2018-11-07    1
2018-12-31    1
2020-12-16    1
Name: count, Length: 17333, dtype: int64

In [386]:
df1["year"] = df1["release_date"].dt.year

In [387]:
df1["year"].value_counts().sort_values()

year
1883.0       1
1893.0       1
2020.0       1
1874.0       1
1878.0       1
          ...
2011.0    1667
2012.0    1722
2013.0    1889
2015.0    1905
2014.0    1974
Name: count, Length: 135, dtype: int64

In [388]:
new_df = df1.loc[df1.year == 2017, ["id", "title", "genres", "year"]]

In [389]:
new_df.head()

,id,title,genres,year
26560,166426,Pirates of the Caribbean: Dead Men Tell No Tales,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",2017.0
26561,141052,Justice League,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0
26565,284053,Thor: Ragnarok,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0
26566,283995,Guardians of the Galaxy Vol. 2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0
30536,245842,The King's Daughter,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",2017.0

In [390]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532 entries, 26560 to 45465
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      532 non-null    object
 1   title   532 non-null    object
 2   genres  532 non-null    object
 3   year    532 non-null    float64
dtypes: float64(1), object(3)
memory usage: 20.8+ KB

In [391]:
new_df["id"] = df["id"].astype(int)

In [392]:
df_merged = pd.merge(new_df, df, on="id")
pd.set_option("display.max_colwidth", 75)

In [393]:
df_merged.head()

,id,title,genres,year,cast,crew
0,74379,Pirates of the Caribbean: Dead Men Tell No Tales,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",2017.0,"[{'cast_id': 2, 'character': 'Mario Colella', 'credit_id': '52fe48c7c3a...","[{'credit_id': '5745ddb792514129a0002fcc', 'department': 'Editing', 'ge..."
1,65320,Justice League,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0,"[{'cast_id': 5, 'character': ""Scarface' Manzari"", 'credit_id': '52fe470...","[{'credit_id': '52fe4705c3a368484e0b0e7d', 'department': 'Writing', 'ge..."
2,109689,Thor: Ragnarok,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0,"[{'cast_id': 2, 'character': 'Hache', 'credit_id': '52fe4ac1c3a36847f81...","[{'credit_id': '52fe4ac1c3a36847f81dffa1', 'department': 'Directing', '..."
3,76341,Guardians of the Galaxy Vol. 2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",2017.0,"[{'cast_id': 2, 'character': 'Max Rockatansky', 'credit_id': '52fe4933c...","[{'credit_id': '53d451210e0a262841002dd1', 'department': 'Writing', 'ge..."
4,49214,The King's Daughter,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",2017.0,"[{'cast_id': 19, 'character': 'Woo-shik', 'credit_id': '53de573f0e0a265...","[{'credit_id': '52fe478bc3a36847f813b5b5', 'department': 'Production', ..."

#### Converts Any String into Real Python Object

In [394]:
import ast
df_merged["genres"] = df_merged["genres"].map(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_merged["cast"] = df_merged["cast"].map(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df_merged["crew"] = df_merged["crew"].map(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

#### Get the Genres List

In [395]:
def make_genresList(x):
    gen = []

    for i in x:
        name = i.get('name')

        if name == "Science Fiction":
            gen.append("Sci-Fi")
        else:
            gen.append(name)

    return np.NaN if not gen else " ".join(gen)

df_merged['genres_list'] = df_merged['genres'].map(make_genresList)

#### Extract Actors and Director

In [396]:
def get_actors(x, index):
    casts = [i.get('name') for i in x]
    if len(casts) <= index:
        return np.NaN
    return casts[index]

# def get_directors(x):
#     directors =[i.get('name') for i in x if i.get('job') == "Directors"]

#     return np.NaN if not directors else " ".join(directors)

def get_directors(x):
    if not isinstance(x, list):
        return np.NaN
        
    directors = [i.get('name') for i in x if i.get('job') == 'Director']
    
    return np.NaN if not directors else " ".join(directors)



df_merged["actor_1_name"] = df_merged["cast"].map(lambda x: get_actors(x, 0))
df_merged["actor_2_name"] = df_merged["cast"].map(lambda x: get_actors(x, 1))
df_merged["actor_3_name"] = df_merged["cast"].map(lambda x: get_actors(x, 2))

df_merged["director_name"] = df_merged["crew"].map(lambda x: get_directors(x))

In [397]:
df_merged["director_name"]

0                     Fernando Di Leo
1                     Fernando Di Leo
2            Fernando González Molina
3                       George Miller
4                              Yoo Ha
                    ...
528                   Walter Ruttmann
529                      Egor Baranov
530                      John Ainslie
531                    Georges Méliès
532    Paolo Taviani Vittorio Taviani
Name: director_name, Length: 533, dtype: object

In [398]:
df_merged["actor_1_name"]

0           Luc Merenda
1          Jack Palance
2           Mario Casas
3             Tom Hardy
4          Lee Jung-Jin
             ...
528                 NaN
529    Evgeniy Stychkin
530         Tianna Nori
531      Georges Méliès
532        Giulio Brogi
Name: actor_1_name, Length: 533, dtype: object

In [399]:
df_merged["actor_2_name"]

0          James Mason
1            Al Cliver
2           Clara Lago
3      Charlize Theron
4            Han Ga-in
            ...
528                NaN
529     Yuriy Kutsenko
530      Mark Matechuk
531                NaN
532      Renato Cestiè
Name: actor_2_name, Length: 533, dtype: object

In [400]:
df_merged["actor_3_name"]

0          Marino Masé
1           Harry Baer
2       María Valverde
3       Nicholas Hoult
4         Won-kwon Kim
            ...
528                NaN
529    Alexey Vorobyov
530     Krista Madison
531                NaN
532       Vito Cipolla
Name: actor_3_name, Length: 533, dtype: object

In [401]:
df_merged["genres_list"]

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
528                     Romance Comedy
529         Crime Comedy Action Family
530    Family Animation Romance Comedy
531               Crime Drama Thriller
532                                NaN
Name: genres_list, Length: 533, dtype: object

In [402]:
movie_df = df_merged.loc[:, ["title", "director_name", "actor_1_name", "actor_2_name", "actor_3_name", "genres_list"]]

In [403]:
movie_df.head()

,title,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list
0,Pirates of the Caribbean: Dead Men Tell No Tales,Fernando Di Leo,Luc Merenda,James Mason,Marino Masé,Adventure Action Fantasy Comedy
1,Justice League,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi
2,Thor: Ragnarok,Fernando González Molina,Mario Casas,Clara Lago,María Valverde,Action Adventure Fantasy Sci-Fi
3,Guardians of the Galaxy Vol. 2,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi
4,The King's Daughter,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure

In [404]:
movie_df.isnull().sum()

title             0
director_name    19
actor_1_name     38
actor_2_name     76
actor_3_name     94
genres_list       8
dtype: int64

In [405]:
movie_df = movie_df.dropna(how="any")

In [406]:
movie_df.isnull().sum()

title            0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
dtype: int64

In [407]:
movie_df = movie_df.rename(columns={"genres_list": "genres"})
movie_df = movie_df.rename(columns={"title": "movie_title"})

In [408]:
movie_df["movie_title"] = movie_df["movie_title"].str.lower()

In [409]:
movie_df["combined_columns"] = movie_df["movie_title"] + " " + movie_df["director_name"] + " " + ["actor_1_name"] + " " + ["actor_2_name"] + " " + ["actor_3_name"]

In [410]:
movie_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,combined_columns
0,pirates of the caribbean: dead men tell no tales,Fernando Di Leo,Luc Merenda,James Mason,Marino Masé,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales Fernando Di Leo actor_...
1,justice league,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,justice league Fernando Di Leo actor_1_name actor_2_name actor_3_name
2,thor: ragnarok,Fernando González Molina,Mario Casas,Clara Lago,María Valverde,Action Adventure Fantasy Sci-Fi,thor: ragnarok Fernando González Molina actor_1_name actor_2_name actor...
3,guardians of the galaxy vol. 2,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2 George Miller actor_1_name actor_2_name ...
4,the king's daughter,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,the king's daughter Yoo Ha actor_1_name actor_2_name actor_3_name

In [411]:
processed_data = pd.read_csv("../datasets/processed/data_processed.csv")

In [412]:
processed_data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens

In [413]:
movie_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,combined_columns
0,pirates of the caribbean: dead men tell no tales,Fernando Di Leo,Luc Merenda,James Mason,Marino Masé,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales Fernando Di Leo actor_...
1,justice league,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,justice league Fernando Di Leo actor_1_name actor_2_name actor_3_name
2,thor: ragnarok,Fernando González Molina,Mario Casas,Clara Lago,María Valverde,Action Adventure Fantasy Sci-Fi,thor: ragnarok Fernando González Molina actor_1_name actor_2_name actor...
3,guardians of the galaxy vol. 2,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2 George Miller actor_1_name actor_2_name ...
4,the king's daughter,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,the king's daughter Yoo Ha actor_1_name actor_2_name actor_3_name

In [414]:
processed_data["combined_columns"] = processed_data["movie_title"] + " " + processed_data["director_name"] + " " + processed_data["actor_1_name"] + " " + processed_data["actor_2_name"] + " " + processed_data["actor_3_name"] + " " + processed_data["genres"]

In [415]:
processed_data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined_columns
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,avatar James Cameron CCH Pounder Joel David Moore Wes Studi Action Adve...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,pirates of the caribbean: at world's end Gore Verbinski Johnny Depp Orl...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,spectre Sam Mendes Christoph Waltz Rory Kinnear Stephanie Sigman Action...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,the dark knight rises Christopher Nolan Tom Hardy Christian Bale Joseph...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,star wars: episode vii - the force awakens Doug Walker Doug...

In [416]:
final_df = pd.concat([movie_df, processed_data], ignore_index=True)

In [417]:
final_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,combined_columns
0,pirates of the caribbean: dead men tell no tales,Fernando Di Leo,Luc Merenda,James Mason,Marino Masé,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales Fernando Di Leo actor_...
1,justice league,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,justice league Fernando Di Leo actor_1_name actor_2_name actor_3_name
2,thor: ragnarok,Fernando González Molina,Mario Casas,Clara Lago,María Valverde,Action Adventure Fantasy Sci-Fi,thor: ragnarok Fernando González Molina actor_1_name actor_2_name actor...
3,guardians of the galaxy vol. 2,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2 George Miller actor_1_name actor_2_name ...
4,the king's daughter,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,the king's daughter Yoo Ha actor_1_name actor_2_name actor_3_name

In [418]:
final_df["movie_title"].duplicated().value_counts()

movie_title
False    5336
True      136
Name: count, dtype: int64

In [419]:
final_df.drop_duplicates(subset="movie_title", keep="last", inplace=True)

In [420]:
final_df["movie_title"].duplicated().value_counts()

movie_title
False    5336
Name: count, dtype: int64

In [421]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5336 entries, 0 to 5471
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movie_title       5336 non-null   object
 1   director_name     5336 non-null   object
 2   actor_1_name      5336 non-null   object
 3   actor_2_name      5336 non-null   object
 4   actor_3_name      5336 non-null   object
 5   genres            5336 non-null   object
 6   combined_columns  5336 non-null   object
dtypes: object(7)
memory usage: 333.5+ KB

In [422]:
final_df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,combined_columns
0,pirates of the caribbean: dead men tell no tales,Fernando Di Leo,Luc Merenda,James Mason,Marino Masé,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales Fernando Di Leo actor_...
1,justice league,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,justice league Fernando Di Leo actor_1_name actor_2_name actor_3_name
2,thor: ragnarok,Fernando González Molina,Mario Casas,Clara Lago,María Valverde,Action Adventure Fantasy Sci-Fi,thor: ragnarok Fernando González Molina actor_1_name actor_2_name actor...
3,guardians of the galaxy vol. 2,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2 George Miller actor_1_name actor_2_name ...
4,the king's daughter,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,the king's daughter Yoo Ha actor_1_name actor_2_name actor_3_name

In [424]:
final_df.to_csv("../datasets/processed/new_data_processed.csv")